<div class="container">
    {{registerData.errors}}

    <form class="w-50 mx-auto" (submit)="signup()" [formGroup]="registerData">
        <div class="mb-3">
            <label for="username" class="form-label">User name</label>
            <input type="email" name="username" formControlName="username" id="username" class="form-control">
        </div>
        <!-- @if(!registerData.errors?.['username']?.valid){
        <div class="text-danger my-3">
            <span>user name invalid</span>
        </div>
        } -->

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="Email" formControlName="email" id="email" class="form-control">
        </div>

        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input type="text" name="password1" #pass1 formControlName="password1" id="password1" class="form-control">
        </div>


        <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password</label>
            <input type="text" name="password2" #pass2 formControlName="password1" id="passoword2" class="form-control">
        </div>

        @if(pass1.value != pass2.value){
        <div class="text-danger my-3">
            <span>password & confirm password not match! </span>
        </div>
        }

        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="number" name="phone" formControlName="phone" id="phone" class="form-control">
        </div>

        <div class="text-center">
            <button type="submit" [disabled]="!registerData.valid" class="btn btn-primary w-50">Register</button>
        </div>
        <div class="my-3">
            <span class=" me-3">Already Have Account</span>
            <a routerLink="/signIn" class="text-primary text-decoration-none">Login Now</a>
        </div>
    </form>
</div>